@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
	box-sizing: border-box;
}

img{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 16px;
}
time{
	margin-bottom: 4px;
}
body{
	font-family: "Noto Sans TC",
	sans-serif;
	font-weight: 500;
	line-height: 1.5;
}

a{
	display: inline-block;
	text-decoration: none;
}
span{
	display: inline-block;
	padding: 6px 12px;
	background-color: #0027D5;
	border-radius: 40px;
	color: white;
	font-weight: 700;

}
.container{
	width: 1296px;
	margin: 0 auto;
}
.article-list{
	display: flex;
	flex-wrap: wrap;
	gap: 80px 24px;
}
.card{
	width: 416px;
}
.card .text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 16px;
}
.card .tag{
	display: flex;
	gap: 4px;
}
.card .hashtag{
	color: #0027D5;
	font-size: 24px;
}
.card .title{
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 8px;
}
.btn{
	border: 1px solid #000;
	padding: 8px 16px;
	border-radius: 80px;
	color: blue;
}
.btn:hover{
	background: #000;
	color: white;
}
